$gap: 24px;

.grid {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;

  display: grid;
  grid-template-columns: 1fr; /* mobile: 1 colonne */
  gap: $gap;

  /* tablette: 2 colonnes */
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
